body {
    background: linear-gradient(-150deg, rgba(0, 2, 43, 1) 0%, rgba(33, 33, 33, 1) 100%) fixed;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 200;
    /* Sub color */
    /* color: rgb(177, 177, 138); */
    /* Main color */
    color: rgb(228, 228, 196);
}

.red {
    background-color: rgb(237, 106, 94);
}
.yellow {
    background-color: rgb(245, 191, 79);
}
.green {
    background-color: rgb(98, 197, 84);
}
